/* Tailwind CSS base styles */
@import "tailwindcss";

/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer utilities {
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
}

/* Body styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb; /* Light gray background */
    color: #111827; /* Dark text color */
    margin: 0;
    padding: 0;
}